@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.main {
  max-width: 1520px;
  min-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
}

.banner {
  background: url('../img/banner.jpg');
  background-size: cover;
}

.articles-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  width: 30%;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}